<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="estilo.css" />
    <title>Sobre mim</title>
  </head>

  <body>
    <header class="header-flex">
      <img src="FotoAnaMaria.jpg" alt="Minha foto" class="foto-perfil" />
      <div class="texto-header">
        <h1>Quem Sou?</h1>
        <p>Conheça um pouco sobre mim!</p>
      </div>
    </header>
    <main>
      <section>
        <h2>Meu nome é Ana Maria Amorim!</h2>
        <p>
          Sou Doutora em Ciência da Computação pela Universidade Federal da
          Bahia (UFBA), Mestra em Sistemas e Computação pela UNIFACS,
          Especializada em Sistemas Distribuídos pela UFBA e Graduada em
          <abbr
            title="Em 1982, o nome do curso era Processamento de Dados, atualmente é Ciência da Computação."
            style="cursor: pointer"
          >
            Processamento de Dados
          </abbr>
          pela UFBA.
        </p>
        <p>
          Integrante do grupo CEManTIKA de pesquisa em Sistemas Colaborativos,
          Ubíquos e Sensíveis ao Contexto. Atuei como membro do projeto RESCUER,
          uma solução Crowdsourcing para gerenciamento de crises e emergências,
          financiado pela Comissão Europeia e CNPq/MCTI, desenvolvido em
          parceria Brasil/União Europeia.
        </p>
        <p>
          Atualmente (2025) sou pesquisadora bolsista do Instituto Nacional de
          Pesquisas Espaciais (INPE). Atuo na área de Computação desde 1980.
          Meus interesses em pesquisa incluem: Crowdsourcing, Engenharia de
          Software, Objetos Móveis, Sistemas Colaborativos e Sistemas de Gestão
          de Crises e Emergências.
        </p>
      </section>
    </main>
    <footer>
      <p class="paragrafo-footer">Meus contatos</p>
      <p class="paragrafo-footer">
        Email: <a href="mailto:ctamp2000@gmail.com">ctamp2000@gmail.com</a>
      </p>
      <p class="paragrafo-footer">
        LinkedIn:
        <a href="https://www.linkedin.com/in/anamariacemantika" target="_blank"
          >linkedin.com/in/anamariacemantika
        </a>
      </p>
    </footer>
  </body>
</html>
